[
    
    "Constant",
    "Loop",
    "Pop",
    "GetGlobal",
    "GetLocal",
    "JumpIfFalse",
    "Jump",
    "Add",
    "Substract",
    "Multiply",
    "Divide",
    "Modulo",
    "Equal",
    "Greater",
    "Less",
    "Not",
    "GetProperty",
    // "SetProperty",
    // "SetIndex",
    "GetIndex",
    "True",
    "False",
    "Call0",
    "Call1",
    "Call2",
    "Call3",
    "CallN",
    "Render0",
    "Render1",
    "Render2",
    "Render3",
    "RenderN",
    "Slice"
]